<mat-card class="beecolony-detail-header">
    <button mat-icon-button mat-button class="mat-icon-button" [matMenuTriggerFor]="userMenu" aria-label="Menue">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editBeecolony()">Edit beecolony</button>
        <button mat-menu-item>Delete beecolony</button>
    </mat-menu>

    <img mat-card-avatar src="./assets/img/beecolony.png">
    <div class="beecolony-details">
        <h2>{{ beecolony.name }} <br>{{ beecolony.description}}</h2>
        {{ beecolony.position }}
    </div>

</mat-card>
<mat-card>
    <mat-card-title>Entries</mat-card-title>

    <div *ngFor="let entrie of allEntries">
        <app-entrie-card [entrieId]="entrie.customIdName"></app-entrie-card>
    </div>
</mat-card>
<button (click)="openDialogAddEnrie()" class="add-entrie-btn" mat-fab color="primary" matTooltip="Add entrie">
    <mat-icon>add</mat-icon>
</button>