<div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add Food</h1>
    <div mat-dialog-content>
        <div>
            <tr class="food-table">
                <th>Avalible Food</th>
                <th>Unit</th>
            </tr>
            <tr *ngFor="let taskFeed of taskFeeds">
                <td>{{ taskFeed.food }}</td>
                <td>{{ taskFeed.unit }}</td>
            </tr>
        </div>
        <div>

            <mat-form-field appearance="outline" class="input-food mr-16">
                <mat-label>New Food</mat-label>
                <input [(ngModel)]="newFood.food" matInput placeholder="New Food">
            </mat-form-field>

            <mat-form-field appearance="outline" class="input-unit">
                <mat-label>Unit</mat-label>
                <input [(ngModel)]="newFood.unit" matInput placeholder="Unit for new food">
            </mat-form-field>


        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="this.dialogRef.close()">Cancel</button>
            <button mat-button (click)="this.saveNewFood()" cdkFocusInitial>Save</button>
        </div>
    </div>