<mat-card class="mt-24">
    <button mat-icon-button mat-button class="mat-icon-button" [matMenuTriggerFor]="addressMenu"
        aria-label="Menue">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item [routerLink]= "['/entrie/' + locationId  +  beecolonyId + entrieId]">Edit entrie</button>
        <button mat-menu-item>Delete entrie</button>
    </mat-menu>


    <mat-card-content>
        {{ entrieDate | date:'dd/MM/yy'}} {{ entrie.description }}
        <div>
        
            <table class="table">
                <tr>
                    <th>Task-type</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let task of allTasks" >
                    <td>{{ task.header }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.amount }}{{ task.unit }}</td>
                </tr>
        
            </table>  
            <table class="table">
                <tr  *ngIf="generalData">
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let generalEntrie of generalList; let i = index" >
                    <td>{{ generalEntrie }}</td>
                    <td>{{ this.dataList[i] }}</td>
                </tr>
        
            </table>  
        </div>
     
    </mat-card-content>

</mat-card>