<mat-card class="mt-24">
    <button mat-icon-button mat-button class="mat-icon-button" [matMenuTriggerFor]="addressMenu"
        aria-label="Menue">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item [routerLink]= "['/entrie/' + locationId  +  beecolonyId + entriesId]">Edit entrie</button>
        <button mat-menu-item>Delete entrie</button>
    </mat-menu>


    <mat-card-content>
        {{ entrieDate | date:'dd/MM/yy'}} {{ entrie.description }}
        <div *ngFor="let task of allTasks">
        
            <app-task-card [task]="task"></app-task-card>
            
        </div>
     
    </mat-card-content>

</mat-card>