<div class=" header">
    <div>
        <h2>Locations</h2>
        <p>Click on a table row to see or edit Location details.</p>
    </div>
    <button mat-mini-fab color="primary" title="Add client" (click)="openAddLocation()" data-cy="addClient">
        <mat-icon>add</mat-icon>
    </button>
</div>

<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Beecolonys</th>
        </tr>
        <tr *ngFor="let locations of data.allLocations" >
            <td (click)="setLocation(locations.customIdName)" [routerLink]= "['/location/' + locations.customIdName]">{{ locations.name }}</td>
            <td [routerLink]= "['/location/' + locations.customIdName]">{{ locations.description }}</td>
            <td>{{ locations.beecolonys }}</td>
            <td><mat-icon (click)="deleteLocation(locations.customIdName)" >delete</mat-icon> </td>
            
        </tr>

    </table>  
</mat-card>
