<p>dialog-task-general works!</p>
<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>General task</h1>
    <div mat-dialog-content>
        <div>

            <mat-form-field appearance="outline" class="mr-16">
                <mat-label>Amount</mat-label>
                <input [disabled]="loading" [(ngModel)]="saveValue.droneframe" matInput placeholder="Amount">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Unit</mat-label>
                <input [disabled]="loading" [(ngModel)]="saveValue.emptyframe" matInput placeholder="Unit">

            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>


        <button mat-button (click)="this.dialogRef.close()">Cancel</button>
        <button mat-button (click)="saveTask()" cdkFocusInitial>Save</button>
    </div>
</div>