.beecolony-detail-header {
    min-height: 75px;
    background-color: yellow;
    color: white;
    display: flex;
    align-items: flex-end;

    img {
        height: 75px;
        width: 75px;
        object-fit: cover;
        border-radius: 100%;
    }

}

.icons {
    z-index: 10;
    height: 75px;
    width: 75px;
    margin-left: 24px;
    margin-right: 24px;
    z-index: 10;
}


.beecolony-details {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 75px;

    h2 {
        margin-bottom: 0;
    }
}

.mat-icon-button {
    position: absolute;
    top: 0;
    right: 0;
}

.add-feeding-btn {
    position: absolute;
    right: 56px;
    bottom: 240px;
}

.add-treatment-btn {
    display: flex;
    justify-content: flex-end;
}

.add-harvest-btn {
    position: absolute;
    right: 56px;
    bottom: 96px;
}

.button {
    padding: 8px;

}

.container-btn {
    display: flex;
    justify-content: flex-end;
}