<mat-card>

    <h2>Beehivecard </h2>
    <span>This application is a very simple Beehivecard to demonstrate Angular and Firebase in combination with Angular Material Design.</span>


</mat-card>
<div class="infoBox">
    <mat-card class="dashInfo">
        <span>Users</span>
        <span class="dashUsers"></span>
    </mat-card>


    <mat-card class="dashInfo">
        <span>Today</span><br>
        <div class="dashSpan"> </div>
    </mat-card>
    <mat-card class="dashInfo">
        <span>Time</span><br>
        <div class="dashSpan"></div>

    </mat-card>
</div>

<div class="infoBox">

    <mat-card class="dashCalender">
        <mat-calendar></mat-calendar>

    </mat-card>


</div>
